 {% load static %}
 <!-- Navigation -->
<!----
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index'%}">Agenda</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" 
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
 --->
<!------------------>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-1">
        <li class="nav-item active">
          <a class="navbar-brand" href="{% url 'index'%}">Agenda | Home</a></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login'%}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'dashboard'%}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'logout'%}">Sair</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'busca' %}">
        <input class="form-control mr-sm-2" type="search" value="{{ request.GET.termo }}"
        id="search-input"
        placeholder="Pesquise o contato"
        name="termo" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Pesquisar</button>
      </form>
    </div>
  </nav>